/* shared styles */
/* open sans font */
body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
main section {
  margin-top: 130px;
}
.section_title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
/* nav related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
nav li {
  list-style: none;
  display: inline;
}
nav li a {
  text-decoration: none;
  color: #474747;
}
.saim {
  color: var(--Dark-01, #181818);
  font-size: 45px;
  font-style: normal;
  line-height: normal;
}
.primary-text-color {
  color: #fd6e0a;
}
nav li {
  margin-right: 51px;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0px;
  color: var(--White-Color, #fff);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 18px 35px 19px 36px;
  margin-top: 0px;
}
/* header related styles */
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  width: 585px;
}
.profile_pic {
  width: 584px;
  height: 676px;
  flex-shrink: 0;
}
header {
  background-image: url("..\\images\\header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.header_greeting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0px;
}
.header_body {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.para {
  margin-top: 0px;
  margin-bottom: 30px;
}
/* main styles */
main {
  width: 1140px;
  margin: 0px auto;
}
/* section styles */
.about {
  border-radius: 10px;
  background: #fff8f3;
  padding: 130px;
  margin: 130px 0px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.info-title {
  font-size: 15px;
  font-weight: 250px;
}
.info-description {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
/* skill styles */
.skill-container {
  display: flex;
  margin-top: 50px;
}
#lala {
  margin-bottom: 30px;
}
.skill {
  width: 267px;
  height: 415px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-right: 24px;
}
.skill-pic {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  padding: 30px 193px 0px 30px;
}
.skill-title {
  color: #181818;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.skill-desc {
  color: #181818;
  font-size: 20px;
  font-weight: 400;
  padding: 0px 33px 30px 33px;
}
.do-description {
  width: 909px;
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 0px auto;
}

/* resume section styles */
.column_wrapper {
  display: flex;
  gap: 70px;
}
.column_header {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.section_title {
  margin-bottom: 113px;
}
.column_content {
  margin-top: 30px;
}
.content_title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin: 0px;
}
.content_subtitle {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 30px;
}
.content_description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-top: 0px;
}
.download_cv {
  text-align: center;
  margin-top: 69px;
}
/* footer styles */
footer {
  background: #fff8f3;
  margin-top: 131px;
  display: flex;
  gap: 117px;
  height: auto;
}
.contact {
  padding-top: 130px;
  padding-left: 230px;
}
.message {
  padding-top: 130px;
  padding-right: 230px;
}
.ek_title {
  color: #181818;
  text-align: left;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact_description {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  width: 562px;
  margin-bottom: 30px;
}
.contact_link {
  margin-right: 24px;
}

.contact {
  width: 50%;
}
.message {
  width: 50%;
  padding-bottom: 149px;
}
.message_form label {
  display: block;
  margin-bottom: 24px;
}
label input[type="email"],
label input[type="text"],
label textarea {
  padding: 18px 300px 18px 30px;
  border-radius: 5px;
  background: #fff;
  border: 0px;
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
